.App {
  width: 70vw;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 2fr;
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
